.search {
  background-color: var(--color-input);
  width: 100%;
  max-width: 28rem;
  border-radius: var(--radius-full);
  position: relative;
}

.search__icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search__input {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 1rem 1rem 1rem 3.25rem;
  border: 0;
  font-size: 1.25rem;
  color: var(--color-white);
}

.search__input:focus {
  border-radius: var(--radius-full);
  outline: var(--color-purple) solid 0.125rem;
}
